.speech{  /* for all spoken text */
color: black;
font-family: Arial, sans-serif;
font-size: 16px;
}

.direction{ /* for all non-spoken text */
    font-family: Times New Roman, serif; 
    font-size: 14px;
    color: bl;
    background-color: #f0f0f0(239, 236, 236);
}

.direction:hover {
    background-color: lightblue; 
    color: black;
}

.name {
    font-weight: bold; 
    color: #333;
}

.Citizen1 {
    color: #7da340; 
}

.Citizen2 {
    color: #7adb7a;
}

.Citizen3 {
    color: #c7dd66; 
}
.Citizen4 {
    color: aquamarine;
}