.speech{  /* for all spoken text */
color: black;
font-family: Arial, sans-serif;
font-size: 16px;
}

.direction{ /* for all non-spoken text */
    font-family: Times New Roman, serif; 
    font-size: 14px;
    color: black;
    background-color: #f0f0f0(239, 236, 236);
}

.direction:hover {
    background-color: lightblue; 
    color: black;
}

.name {
    font-weight: bold; 
    color: #333;
}

.Citizen1 {
    color: #7da340; 
}

.Citizen2 {
    color: #7adb7a;
}

.Citizen3 {
    color: #c7dd66; 
}
.Citizen4 {
    color: aquamarine;
}

table {
    border-collapse: separate;
    width: 100%;
    margin-top: 20px; 
    margin-bottom: 20px;
    text-align: center;
    
}
 table th {
    background-color: #6b69df; 
    color: white; 
    text-align: center; 
    padding: 10px; 
    border-radius: 10px;
}
table td {
    border: 1px solid #ddd;
    text-align: center; 
    padding: 10px;
    border-radius: 10px;
}

table tbody tr:nth-child(even) {
    background-color:lightskyblue;
}

.Citizen1:hover {
    text-shadow: 2px 2px 1px #FF5722; 
    border: 1px solid #FF5722; 
}
.Citizen2:hover {
    text-shadow: 2px 2px 1px #d2dfa5; 
    border: 1px solid #d2dfa5; 
}


.Citizen3:hover {
    text-shadow: 2px 2px 1px #2979FF; 
    border: 1px solid #2979FF; 
}


.Citizen4:hover {
    text-shadow: 2px 2px 1px #FFD600; 
    border: 1px solid #FFD600; 
}




